* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /* GRID */
.container{
    max-width:120rem;
    margin:0 auto;
    padding:1.5rem;
    width:100%;
}
  /* HEADER */
  .header{
    background:#2b2b2b;
  }
  .header .branding{
    display:flex;
    align-items:center;
    gap:2rem;
  }
  .header .branding h3{
    color:#ffffff;
    font-size:2.5rem;
    font-weight:600;
  }
  .header .header__nav ul li a{
    color:#ffffff;
    font-size:2rem;
  }
  .header .header__nav ul li:hover a{
    color:#ffa700;
  }
  .header .header__nav ul li:hover{
    scale:1.1;
    transition:.5s ease;
  }
  .header .header__nav ul{
    display:flex;
    align-items:center;
    gap:2.5rem;
  }
  .header .header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }

  /* BANNER */
.banner{
  padding:5rem 0;
  background:#ffffff;
}
.banner .banner__text{
  max-width:35rem;
  text-align:justify;
}
.banner .banner__text h1{
  font-size:8rem;
  color:#ffa700;
  font-weight:800;
  line-height:1;
}
.banner .banner__text p{
  margin:5rem 0;
}
.banner .banner__wrapper{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

/* SRVC */
.srvc{
  background:var(--dark);
  padding:5rem 0;
}
.srvc__wrapper{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:5rem;
  text-align:center;
}
.srvc__item i{
  font-size:5rem;
  color:var(--primary);
}
.srvc__item h4{
  font-weight:600;
  color:var(--primary);
  margin:2rem 0;
}
.srvc__item p{
  text-align:justify;
  margin-bottom:3rem;
  color:var(--light);
}


/* ABT */
.abt{
  padding:5rem 0;
  background:var(--light);
}
.abt__wrapper{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.abt__text{
  max-width:60rem;
}
.abt__text h4{
  color:var(--primary);
  font-weight:600;
  font-size:3rem;
}
.abt__text p{
  margin:2rem 0;
  text-align:justify;
}

/* CNT */
.cnt{
  background:var(--primary);
  padding:5rem 0;
}
.cnt__wrapper{
  text-align:center;
}
.cnt h2{
  font-size:4rem;
  font-weight:600;
}
.cnt p{
  margin-bottom:3rem;
}

/* FOOTER */
.footer{
  padding:1rem 0;
  background:var(--dark);
}
.footer .footer__wrapper{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.footer .footer__social{
  display:flex;
  align-items:center;
  gap:2rem
}
.footer ul{
  display:flex;
  align-items:center;
  gap:1.5rem;
}
.footer ul li a{
  color:gray;
}
.footer ul li a i{
  font-size:2rem;
}
.footer ul li#fb:hover a i{
  color:#4267B2;
}
.footer ul li#twitter:hover a i{
  color:#1DA1F2;
}
.footer ul li#ig:hover a i{
  color:#d62976;
}
.footer ul li#yt:hover a i{
  color:#FF0000;
}
.footer ul li#email:hover a i{
  color:#ffa700;
}
.footer p {
  color:gray;
}
/* REPEATABLE PATTERNS */
:root{
  --dark:#2b2b2b;
  --light:#ffffff;
  --primary:#ffa700;
}
.btn{
  display:inline-block;
  padding:1rem 1.5rem;
  border-radius:5rem;
  border:1px solid transparent;
  text-align:center;
  transition:.5s ease;
}
.btn.bg--primary{
  background:var(--primary);
  color:#ffffff;
}
.btn.bg--primary:hover{
  background:#2b2b2b;
  border:1px solid #ffffff;
  scale:1.1;
  transition:.5s ease;
}
.btn.bg--dark{
  background:var(--dark);
  color:#ffffff;
}
.btn.bg--dark:hover{
  background:transparent;
  border:1px solid var(--dark);
  color:var(--dark);
  scale:1.1;
  transition:.5s ease;
}